.Setup__breadcrumb {
  vertical-align: middle;
}

.setup__vista {
  padding: 15px 8%;
}

.setup__vista-menu {
  padding: 15px 5%;
}

.setup__h2-mb {
  margin-bottom: 1.5rem;
}

.setup__h1-mb {
  margin-bottom: 1.5rem;
}

.setup__mb {
  margin-bottom: 1rem;
}